[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = {{ user_name }}
    email = {{ user_email }}
    
[web]
  browser = google-chrome

[color]
    ui = true