- name: Create required dotfiles directories
  file:
    path: '~/.{{ item }}'
    state: directory
  loop:
  - config/git
  - claude
  tags:
  - dotfiles

- name: Create symlinks for dotfiles configuration
  file:
    src: '{{ ansible_env.PWD }}/roles/divadvo_mac/files/dotfiles/{{ item }}'
    path: '~/.{{ item }}'
    state: link
    force: yes # Remove file first, in case it exists
  loop:
  - config/ripgreprc
  - config/git/attributes
  - config/git/ignore
  - ssh/config
  - zprofile
  - claude/settings.json
  - hushlogin
  tags:
  - dotfiles

- name: Template git configuration file
  template:
    src: config/git/config.j2
    dest: ~/.config/git/config
    backup: yes
  tags:
  - dotfiles

- name: Template zshrc configuration file
  template:
    src: zshrc.j2
    dest: ~/.zshrc
    backup: yes
  tags:
  - dotfiles

# Download Catppuccin Frappé color scheme for iTerm2
- name: Create iTerm2 color schemes directory
  file:
    path: "{{ playbook_dir }}/downloads/iTerm2-Colors"
    state: directory
  tags:
  - iterm

- name: Download Catppuccin Frappé iTerm2 color scheme
  get_url:
    url: https://raw.githubusercontent.com/catppuccin/iterm/main/colors/catppuccin-frappe.itermcolors
    dest: "{{ playbook_dir }}/downloads/iTerm2-Colors/catppuccin-frappe.itermcolors"
    mode: '0644'
  tags:
  - iterm

