# Managed by mac-automation. Local changes will be replaced.
AllowUsers {{ remote_access_allowed_users | join(' ') }}
{% if ssh_key_only_auth | bool %}
PubkeyAuthentication yes
PermitRootLogin no
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2
PasswordAuthentication no
KbdInteractiveAuthentication no
{% endif %}
