<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.divadvo.mac-upgrade</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>printf '\n===== %s =====\n' "$(date '+%Y-%m-%d %H:%M:%S %z')"; exec {{ ansible_env.HOME }}/pr/github/divadvo-scripts/mac/d-mac-upgrade</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>20</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/.local/share/mise/shims:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>{{ ansible_env.HOME }}</string>
    </dict>

    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/d-mac-upgrade.log</string>
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/d-mac-upgrade.log</string>

    <key>RunAtLoad</key>
    <false/>

    <key>LowPriorityIO</key>
    <true/>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
